$dark : #1E1E1E;
$white : #FFFFFF;

html,
body {
  padding: 0;
  margin: 0;
  font-family: neue-haas-grotesk-display, sans-serif;
  background-color: $dark;
  color: $white;
}

hr {
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
}

h2 {
  text-transform: uppercase;
  font-weight: 450;
  font-size: 54px;
  line-height: 0px;
}

p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.bold {
  font-style: normal;
  font-weight: 600;
}

// Nav Component

.navContainer {
  filter: invert(0%);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
  
.title { grid-area: 1 / 1 / 2 / 2; }
.time { grid-area: 1 / 3 / 2 / 4; }
.about { grid-area: 1 / 8 / 2 / 9; }

// Projects components

.project-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
  
.project-title { grid-area: 1 / 1 / 2 / 8; }
.project-date { grid-area: 1 / 8 / 2 / 9; }

.project-date {
  margin-top: 20px;
}

.statut {
  font-style: italic;
}

.cursor {
  --size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--size);
  width: var(--size);
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  transform: translate3d(
    calc(100vw * var(--cursor-x) - var(--size) / 2), 
    calc(100vh * var(--cursor-y) - var(--size) / 2), 
    0);
  pointer-events: none;
  z-index: 100;
}